{% extends 'baseLayout.html.twig' %}

{% block main %}

    {% for image in images %}
        <a href="{{ path('image_detail',  { 'id': image.id, 'slug': image.title|slug }) }}">
            <img src="{{ asset('uploads/images/thumb/' ~ image.image ) }}"  width="120" height="120"  alt="{{ image.title }}" title="{{ image.title }}"/>
        </a>
        {% if loop.index%7 ==0 %}
            <br/>
        {% endif %}
    {% endfor %}

{% endblock %}

