<!DOCTYPE html>
<html lang="{{ app.request.locale}}">
    <head>
        <title>{{ 'daniel.title'|trans }}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="alternate" type="application/rss+xml" title="Feed" href="{{ url('rss') }}">
        {% block javascripts %}
            {% block importmap %}{{ importmap('frontend') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block main %}
            {% endblock %}
        </div>
    </body>
</html>